HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### yml ###
#/src/main/resources/*.yml

### env 파일은 git에서 무시 ###
.env

### ELK ###
elasticsearch.yml
kibana.yml
logstash.yml
logstash.conf
/elk-config/logstash/config/jvm.options
/usr/share/elasticsearch/data/
/usr/share/logstash/data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
