spring:
  datasource:
    url: ${DEV_DB_URL}
    username: ${DEV_DB_USERNAME}
    password: ${DEV_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000
      keepalive-time: 30000
      connection-timeout: 20000
      validation-timeout: 5000
      connection-test-query: SELECT 1
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME}
      password: ${REDIS_PASSWORD}
      client-name: redis-client
      timeout: 5000
      ssl:
        enabled: true


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          use_get_generated_keys: true
          statement_cache_size: 0

security:
  cookie:
    dev-mode: true

server:
  forward-headers-strategy: native

logging:
  level:
    root: info